@import "tailwindcss";

:root {
  --background: #;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e0f7fa;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Transições suaves para os acordeões */
.transition-all {
  transition: all 0.3s ease-in-out;
}

/* Estilo para cards com alerta */
.alert-card {
  border-left: 4px solid #ef4444;
  background-color: #fef2f2;
}

/* Estilo normal para cards */
.normal-card {
  border-left: 4px solid #10b981;
  background-color: #f0fdf4;
}

.__nextjs-portal {
  display: none !important;
}